@page
@model AppSecWebApp.Pages.RegisterModel
@{
}

@section Navigation
{
	<ul class="navbar-nav d-flex justify-content-end flex-grow-1">
		<li class="nav-item">
			<a class="btn btn-primary" asp-page="/Login" >Login</a>
		</li>
	</ul>
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Register </h1>

			<form method="post" enctype="multipart/form-data">
				@Html.AntiForgeryToken()
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.FullName">Full Name</label>
					<input type="text" onblur="validateFullName()" asp-for=" RModel.FullName" class="form-control" />
					<span asp-validation-for="RModel.FullName" class="text-danger"></span>
				</div>
				<p id="fnamelbl"></p>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.CreditCardNumber">Credit Card No</label>
					<input type="text" onblur="validateCreditCardNumber()" asp-for="RModel.CreditCardNumber" class="form-control" />
					<span asp-validation-for="RModel.CreditCardNumber" class="text-danger"></span>
				</div>
				<p id="credlbl"></p>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Gender">Gender</label>
					<select asp-for="RModel.Gender" class="form-control">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Prefer Not to Say">Prefer Not to Say</option>
					</select>
					<span asp-validation-for="RModel.Gender" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.MobileNumber">Mobile No</label>
					<input type="text" onblur="validateMobileNumber()" asp-for="RModel.MobileNumber" class="form-control" />
					<span asp-validation-for="RModel.MobileNumber" class="text-danger"></span>
				</div>
				<p id="mbnlbl"></p>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.DeliveryAddress">Delivery Address</label>
					<textarea onblur="validateDeliveryAddress()" asp-for="RModel.DeliveryAddress" class="form-control"></textarea>
					<span asp-validation-for="RModel.DeliveryAddress" class="text-danger"></span>
				</div>
				<p id="delilbl"></p>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="text" onblur="validateEmailAddress()" asp-for="RModel.Email" class="form-control" />
					<span asp-validation-for="RModel.Email" class="text-danger"></span>
				</div>
				<p id="emalbl"></p>

				<div id="passwordCheck" class="mb-3">
					<p id="passwordCheckNote" class="hidden text-danger font-weight-bold font-italic">Password Criteria:</p>
					<p id="lengthCheck" class="hidden text-danger">At least 12 Characters</p>
					<p id="uppercaseCheck" class="hidden text-danger">At least ONE UPPERCASE letter</p>
					<p id="lowercaseCheck" class="hidden text-danger">At least ONE lowercase letter</p>
					<p id="digitCheck" class="hidden text-danger">At least ONE digit</p>
					<p id="specialCharCheck" class="hidden text-danger">At least ONE Special Character (eg: #$%^&*)</p>
				</div>


				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input type="password" onkeyup="checkpasswordclient()" asp-for="RModel.Password" class="form-control" />
					<span asp-validation-for="RModel.Password" class="text-danger"></span>
				</div>
				<p id="pwdlbl"></p>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="password" onkeyup="checkPwdMatch()" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>
				<p id="cfmpwdlbl"></p>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Photo">Photo (Only .jpg files)</label>
					<input type="file" asp-for="RModel.Photo" accept=".jpg" class="form-control" />
					<span asp-validation-for="RModel.Photo" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.AboutMe">About Me</label>
					<textarea asp-for="RModel.AboutMe" class="form-control"></textarea>
					<span asp-validation-for="RModel.AboutMe" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript">
	function checkpasswordclient() {
		var password = document.getElementById('RModel_Password').value;
		var confirmPassword = document.getElementById('RModel_ConfirmPassword').value;

		if (password.length < 12) {
			document.getElementById("pwdlbl").innerHTML = "Password needs to be at least 12 Characters";
			document.getElementById("pwdlbl").style.color = "Red";
		}

		else if (!/[A-Z]/.test(password)) {
			document.getElementById("pwdlbl").innerHTML = "Password needs to have at least ONE Uppercase Letter";
			document.getElementById("pwdlbl").style.color = "Red";
		}

		else if (!/[a-z]/.test(password)) {
			document.getElementById("pwdlbl").innerHTML = "Password needs to have at least ONE Lowercase Letter";
			document.getElementById("pwdlbl").style.color = "Red";
		}

		else if (!/\d/.test(password)) {
			document.getElementById("pwdlbl").innerHTML = "Password needs to have at least ONE Digit";
			document.getElementById("pwdlbl").style.color = "Red";
		}

		else if (!/[^a-zA-Z0-9]/.test(password)) {
			document.getElementById("pwdlbl").innerHTML = "Password needs to have at least ONE Special Character";
			document.getElementById("pwdlbl").style.color = "Red";
		}
		else {
			document.getElementById("pwdlbl").innerHTML = "";
		}
	}
</script>

<script type="text/javascript">
	function checkPwdMatch() {
		var password = document.getElementById('RModel_Password').value;
		var confirmPassword = document.getElementById('RModel_ConfirmPassword').value;

		if (confirmPassword != password) {
			document.getElementById("cfmpwdlbl").innerHTML = "Passwords does not match";
			document.getElementById("cfmpwdlbl").style.color = "Red";
		}

		else {
			document.getElementById("cfmpwdlbl").innerHTML = "";
		}

	}
</script>	

<script type="text/javascript">
	function validateFullName() {
		var fullName = document.getElementById('RModel_FullName').value;

		if (!/^[A-Za-z\s]+$/.test(fullName)) {
			document.getElementById("fnamelbl").innerHTML = "Please enter a VALID Full Name. Invalid Characters Detected";
			document.getElementById("fnamelbl").style.color = "Red";
			return false;
		} else {
			document.getElementById("fnamelbl").innerHTML = "";
			return true;
		}
	}
</script>

<script type="text/javascript">
	function validateCreditCardNumber() {
		var creditCardNumber = document.getElementById('RModel_CreditCardNumber').value;

		if (!/\b(?:\d[-]*?){15,16}\b/.test(creditCardNumber)) {
			document.getElementById("credlbl").innerHTML = "Please enter a VALID Credit Card Number. Invalid Characters Detected";
			document.getElementById("credlbl").style.color = "Red";
			return false;
		} else {
			document.getElementById("credlbl").innerHTML = "";
			return true;
		}
	}
</script>

<script type="text/javascript">
	function validateMobileNumber() {
		var mobileNumber = document.getElementById('RModel_MobileNumber').value;

		if (!/^\d+$/.test(mobileNumber)) {
			document.getElementById("mbnlbl").innerHTML = "Please enter a VALID Mobile Number. Invalid Characters Detected, Country Code does not need (+) sign";
			document.getElementById("mbnlbl").style.color = "Red";
			return false;
		} else {
			document.getElementById("mbnlbl").innerHTML = "";
			return true;
		}
	}
</script>

<script type="text/javascript">
	function validateDeliveryAddress() {
		var deliveryAddress = document.getElementById('RModel_DeliveryAddress').value;

		if (!/^[A-Za-z0-9\s#-]*$/.test(deliveryAddress)) {
			document.getElementById("delilbl").innerHTML = "Please enter a VALID Delivery Address. Invalid Characters Detected";
			document.getElementById("delilbl").style.color = "Red";
			return false;
		} else {
			document.getElementById("delilbl").innerHTML = "";
			return true;
		}
	}
</script>

<script type="text/javascript">
	function validateEmailAddress() {
		var emailAddress = document.getElementById('RModel_Email').value;

		if (!/^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(emailAddress)) {
			document.getElementById("emalbl").innerHTML = "Please enter a VALID Email Address. Invalid Characters Detected";
			document.getElementById("emalbl").style.color = "Red";
			return false;
		} else {
			document.getElementById("emalbl").innerHTML = "";
			return true;
		}
	}
</script>






